/******************************
Mobile First (attempt)
******************************/

body {
  width: 95%;
  text-align: center;
  background-color: #afa;
/*   width: 100%; */
/*   height: 100%; */
/*   margin: 0; */
/*   padding: 0; */
}
h1 {
  font-size: 2.5rem;
}
section {
/* 	height: 1000px; */
  clear: both;
	background-color: #afa;
  color: #020;
}
footer {
  height: 70px;
/*   width: 100%; */
  background-color: #151;
  margin-bottom: -100px;
  margin-left: -8px;
  margin-right: -32px;
  padding: 0;
}
ul {
  display: block;
  height: 100%
	/*transition-property: all;
	transition-duration: 1.2s;
	transition-timing-function: ease;
	transition-delay: initial; */
}
.section {
/*   padding: 2%; */
}
.row {
  clear: both;
  margin-left: 12px;
  margin-top: 12px;
  background-color: #afa;
}
.button {
  background-color: #8CAF50; 
    border: none;
    color: white;
    padding: 15px 28px;
    width: 110px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin: 2px 0;
}
.button:hover {
  background-color: #8CAF80; 
}
.button.active {
  background-color: #8CAF80; 
}
.menu {
	background-color: #151;
  position: fixed;
	height: 70px;
  width: 100%;
  line-height: 38px;
  margin-top: -70px;
  margin-left: -8px;
  z-index: 5;
  
}
.menu ul {
	list-style-type: none;
  position: initial;
  background-color: #151;
  font-size: 0;
  margin: 16px 0;
  padding: 0;
  height: auto;
  z-index: 10;
/*   margin: 0 70px; */
}
.menu-item {
  display: inline-block;
/*   background-color: #000; */
  padding: 0 0%;
/*   padding: ; */
}
.menu-item a{
  height: 70px;
  text-decoration: none;
  background-color: #151;
  color: #efe;
  font-size: 1.5rem;
  padding: 1.30rem 1rem 1.32rem 1rem;
}
 .menu-logo { 
  height: 70px;
/*   background-color: #fff; */
  margin: -8px 0 0 0;
	position: fixed;
  left: 10%;
}
/* li.menu-logo a {
  height: 70px;
} */
.intro {
/*   width: 95%; */
  margin-top : 70px;
  margin-left: -8px;
  margin-right: -32px;
  color: #402;
  background-color: #afa;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Midwinter_sunshine_in_Bushy_Park%2C_Teddington_P2120008.JPG/2048px-Midwinter_sunshine_in_Bushy_Park%2C_Teddington_P2120008.JPG);
  /* Want to put an acknowledgement in the corner of the picture */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.intro-heading {
  color: #ed260b;
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  padding-top: 150px;
  padding-left: 220px;
  padding-bottom: 180px;
}
.intro-motivation {
  color: #fff;
  width: 400px;
  padding-top: 50px;
  padding-left: 50px
}
.parkSectionContainer {
/*   background-color: #333; */
  height: 400px;
  display: inline block;
}
.parkUnitContainer {
/*   height: 200px; */
/*   background-color: #444; */
   display: inline block;
}
.timeline-nav{
/*   background-color: #ddd; */
	height : 200px;
	width : 15%;
	float : left;
	border : 1px #333;
	padding: 5px;
	margin: 5px 0;
	text-align: center;
}
.contentImageContainer {
	background-color: #111;
	height : 200px;
	position: relative;
  width : 40%;
	float : left;
/* 	border : 1px #333; */
/* 	padding: 5px; */
	margin: 5px 0;
	text-align: center;
}
.content-image {
  position: absolute;
  width: 100%
}
.contentImageContainer img {
/*    position: absolute;  */
   height: 100%; 
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  max-height: 100%;
  height: 100%;
/*    position: absolute;  */
  top: 10%;
  
}
.contentTextContainer {
/* 	background-color: #ddd; */
	height : 200px;
	width : 40%;
	float : left;
	border : 1px #333;
	padding: 5px;
	margin: 5px 0 5px 0;
	text-align: center;
	font-family: sans-serif;
  position: relative;
}
.content-text {
  position: absolute;
  width: 95%;
  
}
.park-title {
  font-family: sans-serif;
}
.showing {
  opacity: 0.5;
  /* add fade?? */
}
.hidden {
  opacity : 0;
  /* add fade?? */
}
#intro {
  height: 600px;
}
#aboutMe {
  height: 494px;
  padding-top: 70px;
}
p.profile {
  padding: 0 10%;
  font-size: 1.10rem;
/*   font-weight: 700; */
  font-family: sans-serif, Helvetica;
}
p.profile a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
#BPKiln a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.park-top {
  padding-top: 100px;
}
/* @media screen and (max-width: 768px){
  .menu {
/*     background-color: #151; */
/*     position: fixed; */
/*     height: 70px; */
/*     width: 100%;
    line-height: 38px;
    margin-top: -70px;
    margin-left: -8px; */
/*     overflow: hidden; */
/*   }
	.timeline-nav{
		width : 15%;
	}
	#contentImageContainer {
		width : 48%;
	}
	.contentTextContainer {
		width : 40%;
	} */
/* } */
@media screen and (max-width: 768px){
  .intro-heading {
    padding-left: 30px;
  }
  .intro-motivation {
    padding-top: 0;
    width: 60%;
  }
  .contentImageContainer {
    width: 70%;
  }
  .contentTextContainer {
    width: 100%;
    height: 110px;
    font-size: 1.2rem;
    clear: none;
  }
  .park-title {
    font-size: 1.5rem;
  }
 p.profile {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px){
  h1 {
    font-size: 3rem;
  }
  .contentTextContainer {
    font-size: 1.2rem;
    clear: none;
  }
  .parkSectionContainer {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
  .parkUnitContainer {
    width: 100%;
  }
  .park-title {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1000px){
  .parkSectionContainer {
    width: 970px;
    margin-left: auto;
    margin-right: auto;
  }
  .contentTextContainer {
    font-size: 1.5rem;
    clear: none;
  }
  .park-title {
    font-size: 2rem;
  }
  p.profile {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1200px){
  .parkSectionContainer {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
  .contentTextContainer {
    font-size: 1.5rem;
    clear: none;
  }
  .park-title {
    font-size: 2rem;
  }
  p.profile {
    font-size: 1.5rem;
  }
}

